<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title> Welcome to the News Review website </title>
        {% endif %}
    </head>
    <body>
            <!-- Business news section  -->
            <h3> Business News</h3>
            <ul>
                {% for business in business_news %}
                    <li>{{ business.name}}</li>
                {% endfor %}
            </ul>

            <!-- Technology news section -->
            <h3> Technology News </h3>
            <ul>
                {% for technology in technology_news %}
                    <li>{{ technology.name }}</li>
                {% endfor %}
            </ul>
            <!-- Sports news section -->
            <h3>Sport News</h3>
             <ul>
                {% for sports in sports_news %}
                    <li>{{ sports.name}}</li>
                {% endfor %}
            </ul>

            <!-- General news section  -->
            <h3> General News</h3>
            <ul>
                {% for general in general_news %}
                    <li>{{ general.name}}</li>
                {% endfor %}
            </ul>

            <!-- Entertainment news section -->
            <h3> Entertainment News </h3>
            <ul>
                {% for entertainment in entertainment_news %}
                    <li>{{ entertainment.name }}</li>
                {% endfor %}
            </ul>
            <!-- Health news section -->
            <h3>Health News</h3>
             <ul>
                {% for health in health_news %}
                    <li>{{ health.name}}</li>
                {% endfor %}
            </ul>

            <!-- Science news section -->
            <h3>Science News</h3>
             <ul>
                {% for science in science_news %}
                    <li>{{ science.name}}</li>
                {% endfor %}
            </ul>
    </body>
</html>