{% macro displayArticlesList(artis_list) %}
<div class="row">
   {% for artis in artis_list%}
   <div class="col-md-3  movie-card">
       <p>
              {{ artis.description }}
       </p>
           <li class="text-center">
                   <!-- <a href="/news/{{news.id}}"> -->
                   <a href="{{url_for('main.article', id=news.id)}}">
                   {{ artis.name|truncate(10)}}</a>
               </li>
       <!-- <li>{{ news.name}}</li> -->
       </div>
   {% endfor %}
</div>
{% endmacro %}